<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<assign name="bars" value="$Think.session.nodes" />
	<div class="menu_dropdown bk_2">
		<volist name="left_nav" id="nav" key="nav_key">
		<dl id="menu-{$nav_key}">
			<dt><i class="Hui-iconfont">&#xe616;</i> {$nav['title']}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<volist name="nav['child']" id="cd">
						<li><a _href="{: U($cd['url'])}"  data-title="{$cd['title']}" href="javascript:void(0)">{$cd['title']}</a></li>
					</volist>
				</ul>
			</dd>
		</dl>
		</volist>

	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>